[/Script/Icarus.DedicatedServerSettings]
SessionName=YOUR_SERVER_NAME
JoinPassword=YOUR_JOIN_PASSWORD
MaxPlayers=8
AdminPassword=YOUR_ADMIN_PASSWORD
ShutdownIfNotJoinedFor=300.000000
ShutdownIfEmptyFor=300.000000
AllowNonAdminsToLaunchProspects=True
AllowNonAdminsToDeleteProspects=False
ResumeProspect=True
